<p id="notice"><%= notice %></p>

<p>
  <b>Caravana:</b>
  <%= @character.name %>
</p>

<p>
  <b>Lugar:</b>
  <%= @character.address %>
</p>

<p>
  <b>Longitude:</b>
  <%= @character.longitude %>
</p>

<p>
  <b>Latitude:</b>
  <%= @character.latitude %>
</p>

<p>
  <b>Gmaps:</b>
  <%= @character.gmaps %>
</p>


<%= link_to 'Mostrar', edit_character_path(@character) %> |
<%= link_to 'Regresar', characters_path %>
